<link rel="stylesheet" type="text/css" href="/css/error.css">	

<div class="error">
	<div class="container">
		<h1>Something boring happened</h1>
		<h2>Even we don't know what went wrong</h2>
		<h2>Keep calm and try again</h2>
	</div>
</div>