<link rel="stylesheet" type="text/css" href="/css/home.css">	

<div class="jumbotron" id="home">
	<div class="container">
		<h1>Musical Jukebox</h1>
		<p>You can't overdose on Music</p>
	</div>
</div>