<!--This makes sure the page renders properly on a mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<title><%= @title || settings.app_name %></title>
<link rel="icon" type="image/png" href="/logo.png">
<meta charset="UTF-8"> 
<meta name="description" content="Test app made for college">
<meta name="keywords" content="sinatra, music, sharing, ruby, Aaron de Miranda Colaco, aarongoa, aarondmc, app, heroku">

<meta name="author" content="Aaron">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Robots" content="INDEX,FOLLOW">
<meta name="Revisit-after" content="31 Days">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">