<link rel="stylesheet" type="text/css" href="/css/new_song.css">

<div class="form">
	<div class="container">
		<h1 class="heading">Add new song</h1>
		
		<form method="POST" action="/songs" autocomplete="on">
			<%= erb :song_form %>
		</form>
	</div>
</div>