<link rel="stylesheet" type="text/css" href="/css/not_authorized.css">	

<div class="not-authorized">
	<div class="container">
		<h1>Sorry! You are not authorized!</h1>
		<h2>You need to sign in</h2>
	</div>
</div>