<link rel="stylesheet" type="text/css" href="/css/songs.css">	

<div class="songs">
	<div class="container">
		<h1>Songs</h1>

		<a class="btn btn-link add-new" href="/songs/new">Add song</a>

		<%= erb :songs_logic %>

	</div>
</div>
