<link rel="stylesheet" type="text/css" href="/css/songs.css">	

<div class="songs">
	<div class="container">
		<h1>Songs</h1>

		<a href="/songs/new">Create a new song</a>

		<%= erb :songs_logic %>

	</div>
</div>
