.download {
	background-image:url('/images/music2.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;   
}

.download .container {
	position: relative;
	top:20%;
}

.download h1 {
	color: #ffffff;
	font-size: 4em;
}

form {
	margin-top: -25%
}

.input-group {
	width: 40%;
	margin-bottom: 2%;
}

.icons li {
	display: block;
	color: #ffffff;
	font-size: 3em;

	margin-left: 60%;
}
