.error {
	background-image:url('/images/music5.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;   
}

.error .container {
	position: relative;
	top:100px;
}

.error h1 {
	color: #ffffff;
	font-size: 4em;
}

.error h2 {
	color: #ffffff;
	font-size: 2.5em;
}